 <main class="signUpBox">
  <%= form_for(resource, as: resource_name,class: "signUp-form", url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <p class="signUp-login">Already have an account? <%=link_to "Login here", new_user_session_path,class:"login-link"%></p>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" ,placeholder: "Name"%><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email" %><br />
    <%= f.password_field :password, autocomplete: "new-password",placeholder: "Password" %><br>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "Confirm Password" %><br>
    <%= f.submit "Sign up" ,class: "signUp-button"%>
  <% end %>
  <!--<% render "devise/shared/links" %> -->
</main>
